@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
    --funnel-font: "Funnel Sans", sans-serif;
    --breakpoint-xs: 20.5rem;
    --breakpoint-2xs: 30rem;
    --ease-cubicbezier: cubic-bezier(0, 0, 0, 1); 
}